{% extends "layout.html.twig" %}

{% block title %}Tous vos films réunis à un seul endroit{% endblock %}

{% block body %}
    <div id="entete-movies">
        <div class="bloc-content">
            <div class="bloc-text">
                <h1>
                    Tous vos films<br>
                    <span>réunis à un seul endroit</span>
                </h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perspiciatis consectetur cumque earum a corporis optio provident. Maiores animi expedita velit inventore voluptate. Ex fuga porro unde. Rerum, minima iusto.</p>
            </div>
            <div class="bloc-image">
                <img src="{{ asset('images/image-entete-index.png') }}" alt="Image entête index">
            </div>
        </div>
    </div>

    <div id="bloc-listing-movies" class="section">
        <div class="container">
            <div class="bloc-content">
                <div class="filter-bar">
                    <div class="single-filter">
                        <label for="title-movie">Titre</label>
                        <input type="text" name="title-movie">
                    </div>
                    <div class="single-filter">
                        <label for="year-movie">Année</label>
                        <input type="number" name="year-movie" min="1800" step="1">
                    </div>
                    <div class="single-filter">
                        <label for="genre-movie">Genre</label>
                        <label class="select-list">
                            <select name="genre-movie">
                                {% for categorie in categories.results %}
                                <option value="{{ categorie }}">{{ categorie }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="button-submit-filters">
                        <a id="submit-filters" onclick="filterMovies();">
                            Filtrer les films
                        </a>
                    </div>
                </div>

                {# {{ dump(movies) }} #}

                <div class="grid-movies">
                    {% for movie in movies.results %}
                    <div class="single-movie">
                        <a href="/movie/{{ movie.id }}">
                            <div class="single-movie__content">
                                <div class="movie-img">
                                    {% if movie.primaryImage != null %}
                                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}">
                                    {% else %}
                                        <img src="{{ asset('images/placeholder.png') }}" alt="Affiche de {{ movie.titleText.text }}">
                                    {% endif %}
                                </div>
                                <div class="movie-text">
                                    <div class="title-movie">{{ movie.titleText.text }}</div>
                                    <div class="year-movie">{{ movie.releaseYear.year }}</div>
                                    {% if movie.genres is not null %}
                                    <div class="genres-movie">
                                        {% for genreMovie in movie.genres.genres %}
                                        <span>{{ genreMovie.text }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                {# Affiche les liens de navigation #}
                <div class="pagination">
                    {% if movies.page > 1 %}
                        {# <a href="{{ path('app_movies', {'page': (movies.page - 1)}) }}">Page précédente</a> #}
                        <a href="javascript: history.go(-1)">Page précédente</a>
                    {% endif %}
                    {# <a href="{{ path('app_movies', {'page': (movies.page + 1)}) }}">Page suivante</a> #}
                    {% if titleMovie is not empty %}
                        <a href="{{ movies.next|replace({'?': '&', '/titles/search/title/': '/movies?titleMovie='}) }}">Page suivante</a>
                    {% else %}
                        <a href="{{ movies.next|replace({'/titles' : '/movies'}) }}">Page suivante</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}